/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/****** end of reset ******/

/*font-family: 'Poiret One', cursive;
font-family: 'Roboto', sans-serif;*/

* {
	box-sizing: border-box;
}

body {
	padding: 50px 0;
	font-family: 'Raleway', sans-serif;
	font-weight: 200;
	font-size: 20px;
}

header,
nav,
main,
footer {
	margin: 0 auto;
	text-align: center;
}

.main-content {
	display: none;
}

h1 {
  font-size: 40px;
  padding: 30px;
  font-family: 'Poiret One', cursive;
  text-transform: uppercase;
}

h2 {
	font-size: 30px;
	padding-bottom: 30px;
	text-align: center;
}

header {
	display: block;
	margin: 0 auto;
	width: 100%;
}

header,
main {
	min-height: 88vh;
}

ul li {
	display: block;
	min-width: 150px;
	background: #FFF3F2;
	margin: 5px 0;
	padding: 10px;
	border: 2px solid #FFF3F2;
}

ul li:hover,
ul li:active,
ul li:focus {
	border: 2px solid #DCBEBC;
	cursor: pointer;
}

/*ul li:hover a,
ul li:active a,
ul li:focus {
	border-bottom: 2px solid #5D8F71;
}*/

nav,
footer {
	padding: 20px;
}

footer {
  position: absolute;
  width: 100%;
  font-size: 16px;
  font-weight: 200px;
}


section {
	margin: 20px auto;
	text-align: left;
}

.headline {
	padding-top: 30px;
}

.about-container,
.container, 
.projects-wrapper {
	display: flex;
	flex-direction: column;
	transition: 5s all;
}

.projects-wrapper {
	margin: 30px 0;
}

.bio-text-wrapper {
	width: 100%;
	display: block;
	padding: 20px;
}

p {
	line-height: 32px;
}

.intro-screen h1 {
	font-size: 50px;
}

.intro-screen .img-wrapper img {
	width: 300px
} 

.img-wrapper {
	width: 100%;
}

.img-wrapper img {
	width: 200px;
}

.project-image-wrapper {
  max-width: 95%;
  display: block;
  margin: 0 auto;
	border: 1px solid #555;
	padding: 20px;
	max-height: 600px;
	overflow: scroll;
}

.project-image-wrapper img {
	width: 100%;
	margin: 10px;
}

img {
	margin: 0 auto;
	display: block;
}

.project-text-wrapper {
	margin: 0 auto;
	padding: 30px;
}

.project-text-wrapper a {
	background: #FFF3F2;
	padding: 10px;
	color: #000;
	margin: 0 auto;
	border: 2px solid #FFF3F2
}

.project-text-wrapper a:hover,
.project-text-wrapper a:active,
.project-text-wrapper a:focus {
	border: 2px solid #DCBEBC;	
}

.bio-img-wrapper {
	width: 40%;
	padding: 20px;
}

.bio-img-wrapper img {
	max-width: 100%;
	max-height: 400px;
}

.contact-wrapper li {
	display: block;
	line-height: 32px
}

span.contact-label {
	width: 200px;
	display: inline-block;
}

.fas,
.fab {
	padding: 30px;
}

a {
	text-decoration: none;
	color: #555;
}

/*.header-wrapper a:hover,
.header-wrapper a:active,
.header-wrapper a:focus {
	color: #5D8F71;
	border-bottom: 2px solid #5D8F71;
}*/

@media screen and (min-width: 850px) {
	.project-text-wrapper {
		width: 40%;
		padding: 0;
	}

	.project-image-wrapper {
  	max-width: 45%;
  }

	.about-container,
	.projects-wrapper {
		flex-direction: row;
		justify-content: space-around;
	}

	.projects-wrapper.reverse {
		flex-direction: row-reverse;
	}

	.bio-text-wrapper {
		width: 65%;
	}

	ul li {
		display: inline-block;
		background: transparent;
		border: 2px solid transparent; 
	}
}

